<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AdvancedLoginSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    
    </configSections>
    <connectionStrings>
        <add name="AdvancedLoginSystem.Properties.Settings.DBLoginSystemConnectionString"
            connectionString="Data Source=&quot;&quot;;Initial Catalog=DBLoginSystem;Persist Security Info=True;User ID=sa;Password=&quot;&quot;"
            providerName="System.Data.SqlClient" />
        <add name="AdvancedLoginSystem.Properties.Settings.DBLoginSystemConnectionString1"
            connectionString="Data Source=&quot;&quot;;Initial Catalog=DBLoginSystem;Persist Security Info=True;User ID=sa;Password=&quot;&quot;" />
        <add name="AdvancedLoginSystem.Properties.Settings.DBLoginSystem"
            connectionString="Data Source=DESKTOP-KC4KLEJ;Initial Catalog=DBLoginSystem;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <AdvancedLoginSystem.Properties.Settings>
            <setting name="UserLog" serializeAs="String">
                <value>UserName
</value>
            </setting>
            <setting name="Email" serializeAs="String">
                <value />
            </setting>
            <setting name="pin_no" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="emp_no" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="emp_pin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="pinNumberInsert" serializeAs="String">
                <value>DBLoginSearchJobDataSet1</value>
            </setting>
            <setting name="InsertEmpPin" serializeAs="String">
                <value>InsertUpdateDelete</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="FirstName" serializeAs="String">
                <value>FirstName</value>
            </setting>
        </AdvancedLoginSystem.Properties.Settings>
    </userSettings>

</configuration>